PNCalcStatusDetail/SOA/Schemas/fault.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ebs.indonesiapower.co.id/schema/fault"
            targetNamespace="http://ebs.indonesiapower.co.id/schema/fault" elementFormDefault="qualified">
  <xsd:element name="fault">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="code" type="xsd:string"/>
        <xsd:element name="summary" type="xsd:string"/>
        <xsd:element name="details" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
